@import "tailwindcss";


@font-face{
    font-family: DM-sans;
    src: url("../src/assets/fonts/DMSans-Regular.ttf");
}


@layer base{
    p{
        color: #000;
    }
}

@layer utilities {
    .custom-pur-100 {
        background-color: hsl(254, 88%, 90%);
    }
    .custom-pur-500 {
        background-color: hsl(256, 67%, 59%);
    }
    .custom-yel-100 {
        background-color:  hsl(33, 84%, 88%);
    }
    .custom-yel-500 {
        background-color: hsl(39, 100%, 71%);
    }
    .text-accent-purple {
        color: hsl(256, 67%, 59%);
    }
    .text-accent-yellow {
        color: hsl(39, 100%, 71%);
    }
    .text-shaded-orange {
        color: hsl(33, 84%, 88%);
    }


    .diff-header-sizes {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .diff-text-sizes {
        font-size: 1.3rem;
        line-height: 1.3;
    }



    @media (min-width: 375px){
        .diff-header-sizes {
            font-size: 2rem;
            line-height: 1.2;
        }
        .diff-text-sizes {
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }

    @media (min-width: 950px){
        .diff-header-sizes {
            font-size: 3rem;
            line-height: 1.1;
        }
        .diff-text-sizes {
           font-size: 2.5rem;
           line-height: 1.1;
        }
    }

    @media (min-width: 1440px) {
        .diff-header-sizes {
            font-size: 4.7rem;
            line-height: 1;
        }
        .diff-text-sizes {
            font-size: 3.875rem;
            line-height: 1;
        }
    }
}